* {
  /* border : 1px solid black; */
}

body {
  width: 100%;
  height: 100%;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/9a/K626_Requiem_Mozart.jpg");
  background-repeat: repeat-y;
  background-attachment: fixed;
  overflow: auto;
  padding: 1%;
}

.main {
  max-width: 960px;
  box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.1);
  background: rgba(245, 245, 245);
  background: rgba(245, 245, 245, 0.85);
  border-radius: 20px;
  font-family: Roboto, sans-serif;
  font-size: 22px;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 5%;
  padding-bottom: 3%;
}

h1 {
  padding-top: 6%;
  padding-bottom: 1%;
  font-family: "Great Vibes", Cursive, serif;
  font-size: 4em;
  font-weight: bold;
  position: relative;
  text-align: center;
  margin-bottom: 5%;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
}

h2 {
  font-weight: lighter;
  font-style: italic;
  text-align: left;
  margin-left: 5%;
}

.quote {
  margin-left: 5%;
  width: 30%;
}

.years {
  margin-right: 3%;
  float: left;
  font-family: "dancing script";
  font-weight: bold;
  padding-top: 1%;
}

#portrait {
  float: right;
  width: 30%;
  margin: 3% 5% 3% 3%;
  min-width: 150px;
  max-width: 400px;
  display: inline-block;
  border-radius: 5%;
  box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.4);
}

.didyouknow {
  background: #FFF;
  margin: auto;
  padding: 2%;
  border-radius: 20px;
  border: 1px solid #d9d9d9;
  display: block;
  color: black;
  width: 80%;
  box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.4);
}

#did {
  margin: 0;
  font-size: 1.2em;
  font-weight: bold;
  font-style: italic;
  display: block;
}

.para {
  display: block;
  margin: 8% 4% 8% 4%;
  text-align: justify;
}

.button {
  text-align: center;
  width: 45%;
  min-width: 300px;
  color: black;
  background-color: grey;
  display: inline-block;
  margin-bottom: 1.5%;
  box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.4);
}

#spotify {
  background-color: #1ED760;
}

#wiki:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

#wiki:visited {
  color: black !important;
}

#spotify:hover {
  color: #1ED760;
  background-color: rgba(0, 0, 0, 0.7) !important;
}

hr {
  width: 40%;
  margin: auto;
  border-bottom: 1px solid black;
}

.links {
  text-align: center;
}

i {
  margin-right: 1%;
}